#f,
#g {
  position: absolute;
}
#f {
  background: rgba(255, 193, 7, 0.9);
}
#f p {
  background: rgb(34, 34, 34);
  color: whitesmoke;
  position: relative;
  z-index: 1;
}
#g {
  background: rgba(3, 169, 244, 0.7);
  top: 50px;
  left: 100px;
}
