
.container {
  margin: 20px auto;
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 30px;
}

.box1{
  background-color: orange;
}

.box2{
  background-color: green;
}
.box3{
  background-color: violet;
}
.box4{
  background-color: red;
}
.box5{
  background-color: blue;
}

.box6{
  background-color: brown;
}