* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  background-color: #ccc;
  padding: 10px;

  display: flex;
  flex-direction:row;
  justify-content: space-betweenk;

}

.item {

  background-color: #f1325d;
  padding: 40px;
  margin: 30px;
  color: #fff;
  font-size: 40px;
}