@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

// Typography
$fontFamily: 'Noto Sans JP', sans-serif;

// Colors
$darkColor: #333;
$lightColor: #fff;
$primaryColor: #c00;
$secondaryColor: #ffde00;
$primaryTextColor: $lightColor;

// Sizes
$footerHeight: 60px;
