<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <div id="app">
      <input v-model="num1">+</input>
      <input v-model="num2">=</input>
     <p v-if="num1 || num2" >{{num1}}+{{num2}}={{+num1+(+num2)}}</p>
    </div>
  </body>
</html>
