.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 30px;
}

.Success {
    color: #fff;
    background-color: #5C9210;
}

.Danger {
    color: #fff;
    background-color: #944317;
}